.App-header {
  min-height: 750px;
  width: 100%;
  background: white url("../../assets/Home-Hero-Image.jpg") no-repeat -40% center/auto 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
  .header-banner {
    border: 1px solid orange;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-title {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
  .banner-buttons {
    button:hover {
      cursor: pointer;
    }
  }
  .banner-left-btn, .banner-right-btn {
    border: 2px solid black;
    margin: 10px;
    padding: 2px;
  }
}

.App-login {
  width: 1000px;
  color: #282c34;
  font-size: 0.8rem;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  ul, li {
    float: left;
    list-style: none;
    margin: 1.2rem;
    text-decoration: none;
    a {
      color: #282c34;
      text-decoration: none;
      list-style: none;
    }
  }
  li:last-of-type {
    border: 1px solid #282c34;
  }
  a:hover {
    cursor: pointer;
    border: 1px solid #282c34;
  }
}
.App-nav, {
  width: 750px;
  color: #282c34;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  ul, li {
    float: left;
    list-style: none;
    margin: 1rem;
    text-decoration: none;
    a {
      color: #282c34;
      text-decoration: none;
      list-style: none;
    }
  }
  li:first-of-type {
    border: 1px solid #282c34;
  }
  a:hover {
    cursor: pointer;
    border: 1px solid #282c34;
  }
}

.three-columns {
  min-height: 300px;
  display: flex;
  justify-content: space-between;
  background: orange;
  .col_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    span {
      font-size: 4rem;
      font-weight: 700;
    }
  }
}