.simple-steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .steps-row1 {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    img {
      margin-top: 30px;
    }
  }
  .steps-row2 {
    background: lightgray;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .steps-row3 {
    margin-top: 50px;
    min-height: 150px;
    .steps-btn {
      border: 1px solid gray;
      height: 100px;
      width: 200px;
      font-size: 1.8rem;
      color: #282c34;
    }
    button:hover {
      cursor: pointer;
    }
  }
}